main {
  display: flex;          /* 並べ方をFlexboxにする */
  flex-direction: column; /* 縦に並べる（団子状） */
  align-items: center;    /* 横方向の中央に揃える */
  margin: 0;              /* 余白をなくす */
}

.setting-link {
  position: absolute;    /* 画面上の絶対位置指定 */
  top: 10px;             /* 上からの距離 */
  right: 10px;           /* 右からの距離 */
  font-size: 24px;       /* アイコンを少し大きめに */
  text-decoration: none; /* 下線を消す */
  color: black;          /* アイコンの色を黒に設定 */
}

.menu-link {
  position: absolute;    /* 画面上の絶対位置指定 */
  top: 10px;             /* 上からの距離 */
  left: 10px;            /* 左からの距離 */
  font-size: 24px;       /* 矢印を少し大きめに */
  text-decoration: none; /* 下線を消す */
  color: black;          /* アイコンの色を黒に設定 */
}

.back-link {
  position: absolute;    /* 画面上の絶対位置指定 */
  top: 10px;             /* 上からの距離 */
  left: 10px;            /* 左からの距離 */
  font-size: 24px;       /* 矢印を少し大きめに */
  text-decoration: none; /* 下線を消す */
  color: black;          /* アイコンの色を黒に設定 */
}
